@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(146, 202, 247, 0.42);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  position: relative;
}

.weather {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-top: 0px solid;
  width: 1200px;
  height: 920px;
  background-color: #f7f7f7;
}

.weather-city {
  font-size: 40px;
  text-decoration: underline;
  font-weight: normal;
}
.weather-search-form input {
  display: flex;
  padding: 30px 0px 30px 20px;
  font-size: 23px;
  height: 50px;
}

.City {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heart {
  margin-right: 10px;
  margin-left: 20px;
}

.heart path {
  transition: fill 1.3s;
}
.heart path:hover {
  cursor: pointer;
  fill: red;
}

.weather-search-form {
  display: flex;
  flex-direction: column;
}

.weather-search-form input::placeholder {
  text-indent: 10px;
}

.weather-search-form-btn {
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: url(./assets/search.svg) no-repeat;
  cursor: pointer;
}

.Left-Container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.Main-Information {
  margin-bottom: 30px;
}

.Temperature {
  font-size: 70px;
}

.Additional-Information {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  margin-bottom: 50px;
}

.Additional-Information li {
  list-style-type: none;
  display: flex;
}
.Additional-Information h4 {
  margin-left: 10px;
}

.Weather-Forecast {
  display: flex;
  flex-direction: column;
}

.Weather-Forecast li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Weather-Forecast h3 {
  border-top: 1px solid black;
}

.Weather-Forecast h4 {
  margin-left: 5px;
}

.Right-Container {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.Added-Locations {
  font-size: 15px;
  border-bottom: 1px solid black;
}
.Added-Locations h1 {
  font-weight: normal;
}

.City-List {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.City-List li {
  list-style-type: none;
  margin: 10px 10px 10px 10px;
}

.weather-block-temperature {
  display: flex;
  align-items: center;
}
.weather-block-cloud {
  margin-bottom: 20px;
  margin-top: 20px;
}

.favoriteCities {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: black;
  font-size: 40px;
  font-style: italic;
  transition: color 0.3s;
  text-decoration: none;
  /* background-color: #ffffff; */
  transition: background-color 0.3s;
}
.favoriteCities:hover {
  color: blue;
  background-color: #f2f2f2;
}

.started-City-List {
  font-size: 30px;
  padding: 25px;
  font-weight: normal;
}

/* Favorite */
.new-favorite-city {
  display: flex;
}

.favorite-city-id {
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: underline;
}

.item-li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  cursor: pointer;
  transition: color 0.4s;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.118);
}

.item-li:hover {
  color: blue;
}

.buttonDelete {
  margin-left: 20px;
  padding: 20px;
  height: 50px;
  cursor: pointer;
  background-image: url("assets/deleteButton.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  border: none;
  border-radius: 40%;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
}
.buttonDelete:hover {
  background-color: #ff7f77;
}
